<div class="row">
    <div class="col s10 offset-s1">
        <div class="card">
            <div class="card-image">
                {{!-- <img src="{{article.imgUrl}}"> --}}
            </div>
        </div>
        
        <div id="event-card" class="card grey lighten-4 card small">
            <div class="card-content grey-text text-darken-4">
                <span class="card-title event-detail-title center">
                    <h3>{{article.title}}</h3>
                </span>
                <div class="divider"></div>
                <div class="col s3">
                    <div class="row field-row">
                        <div class="event-field-label">
                            Article URL
                        </div>
                        <br>
                        <div class="event-field" id="article-link"> {{article.link}}</div>
                    </div>
                </div>
                

                <div class="col s3">
                    {{!-- <div class="row field-row">
                        <div class="event-field-label">
                            Summary
                        </div>
                        <br>
                        <div class="event-field" id="event-start-time"> {{article.summary}}</div>
                    </div> --}}
                </div>

                  <div class="col s3 note-info">
                    <div class="row field-row">
                        <div class="event-field-label">
                            Notes
                        </div>
                        <br>
                        {{!-- <div class="event-field" id="note-title"> {{article.note}}</div> --}}
                        {{!-- <div class="event-field" id="note-body"> {{note.body}}</div> --}}
                    </div>
                </div>
                
                

               
                {{!-- <a class="btn-floating halfway-fab waves-effect waves-light teal edit-article" data-id={{article.id}}>
                    <i class="material-icons">edit</i>
                </a> --}}

                <div class="fixed-action-btn">
                    <a class="btn-floating btn-large orange">
                        <i class="large material-icons list-btn">list</i>
                    </a>
                    <ul>
                        {{!-- <li>
                            <a class="btn-floating red delete-note" data-id={{article.id}}>
                                <i class="material-icons">delete</i>
                            </a>
                        </li> --}}
                        <li>
                            <a class="btn-floating blue create-note" data-id={{id}}>
                                <i class="material-icons edit-button">edit</i>
                            </a>

                        </li>
                        <li>

                            {{!-- <a class="btn-floating blue back-event" data-id={{user.id}}>
                                <i class="material-icons back-arrow">arrow_back</i> --}}


                            {{!-- <a class="btn-floating yellow event-signup" data-id="{{id}}">
                                <i class="link large material-icons signup-event signup" style="font-size:36px">group_add</i>
                            </a> --}}


                           
                        </li>
                    </ul>
                </div>
              
            </div>

        </div>
    </div>
</div>

{{!-- <div class="row">
    <div id="event-volunteers-header" class="col s10 offset-s1 volunteer-table">
        <h3 class="volunteer-header center white lighten-3" style="padding: 20px; margin-bottom:0px">Volunteers</h3>
        <div class="z-depth-2">
            <table class="table highlight responsive-table white lighten-2" id="events-table">
                <thead class="black">
                    <tr>
                        <th class="event-th volunteers-th" scope="col">Photo</th>
                        <th class="event-th volunteers-th" scope="col">First Name</th>
                        <th class="event-th volunteers-th" scope="col">Last Name</th>
                        {{#if admin}}
                        <th class="event-th volunteers-th" scope="col">Controls</th>
                        {{/if}}
                    </tr>
                </thead>
                <tbody>
                    {{#each users}} {{#if active}}
                    <tr>
                        <td class="event-td">
                            <img class="event-volunteer-img" src="{{imgUrl}}" height="100" alt="volunteer photo">
                        </td>
                        <td class="event-td">{{first_name}}</td>
                        <td class="event-td">{{last_name}}</td>
                        {{#if ../admin}}
                        <td class="center">
                            <a class="user-see" data-userID="{{id}}">
                                <i class="link large material-icons see-user" style="font-size:36px">info_outline</i>
                            </a>
                            <a class="user-delete" data-userID="{{id}}">
                                <i class="link large material-icons remove-user" style="font-size:36px">delete</i>
                            </a>
                        </td>
                        {{/if}}
                    </tr>
                    {{/if}} {{/each}}
                </tbody>
            </table>
        </div>
    </div>

</div> --}}


<!-- This is for the new note modal -->
{{> note.create }}

<script src="../assets/js/article_show.js"></script>
